#login-container {
    position: relative; 
    background-image: url('../assets/background_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    }

#login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 17, 2, 0.616);
    z-index: 1; 
}

#imagem-logo {
    width: 50%;
}

#login-container-content {
    position: relative;
    z-index: 2;         
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #af9a6c;
}

#form-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    width:600px ;
    height: 280px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 50%;
    
    input{
        height: 25px;
        border-radius: 6px;
    }
}

.login-form button {
    background-color: #886f3a;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-form button:hover {
    background-color: #725d31;
}