#login-container {
    position: relative; 
    background-image: url('../assets/background_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    }

#login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 17, 2, 0.616);
    z-index: 1; 
}

#login-container-content {
    position: relative;
    z-index: 2;         
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #485c50;
    gap: 1.3rem;
    #imagem-logo{
        width: 35vh;
    }
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.750);
    border-radius: 20px;
    width: 35vh;
    .login-title{
        padding: 0rem;
    }
    .text-form{
        color: black;
        text-align: left;
    }
    .text-link-recuperar{
        font-size: 14px;
    }
    .text-link-criar{
        font-size: 14px;
        color: black;
        padding-top: 2rem;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 90%;
    padding-bottom: 1rem;
    input{
        all: unset;
        height: 40px;
        border-radius: 4px;
        border: none;
        background-color: white;
        padding-left: 10px;
        color: black;
        text-align: left;
        font-size: 14px;
    }
}

.login-form button {
    background-color: #485c50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.login-form button:hover {
    background-color: #485c50;
}