.nav-container {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23rem;
    padding: 0.75rem 2rem;
    background-color: #485c50;
    width: 100%;
    border-bottom: 1px solid var(--nav-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #e0e0e0;
    z-index: 2;
}

.navbar-logo {
    height: 8vh;
    width: auto;
    display: block;
}

.navbar-center {
    flex: 2 1 400px;
    display: flex;
    justify-content: center;
    max-width: 600px;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-bar input {
    height: 2rem;
    width: 20rem;
    border-radius: 10px;
    width: 100%;
    padding-left: 2.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1rem;
}

.search-bar .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #e0e0e0;
}

.search-bar input::placeholder {
    color: #888;
}

.navbar-right {
    flex: 1 0 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #e0e0e0;
    font-size: 1.25rem;
    transition: color 0.2s ease;
    padding: 0;
}

.icon-button:hover {
    color: #c0a070;
}
