.nav-container{
    position: fixed;
    top: 0px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13vw;
    background-color: #A18064;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    img{
        width: 30vh;
        height: 9vh;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button{
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        width: 100%;
        img{
            object-fit: contain;   
            width: 40px;
            height: 40px;             
        }
    }
}

.navbar-secundario{
    position: relative;
    z-index: 1;
    background-color: #D9D9D9;
    width: 100vw;
    height: 1.5rem;
    
}

.form-pesquisa{
    display:flex;
    flex-direction: row;
    width: 20vw;
    input{
        all: unset;
        height: 40px;
        width: 100%;
        border-radius: 6px 0 0 6px;
        border: none;
        background-color: white;
        padding-left: 10px;
        color: black;
        text-align: left;
        font-size: 14px;
    }
    button{
        all:unset;
        border-radius: 0 6px 6px 0;
        background-color: #D9D9D9;
        border: none;
        padding: 0 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }
}