
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13vw;
    background-color: #A18064;
    width: 99.2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    box-sizing: border-box;

}